<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
</head>
<body>
    <form class="row g-3">
        <div class="col-12">
          <label for="inputName" class="form-label">Họ và tên</label>
          <input type="text" class="form-control" id="inputName">
        </div>
        <div class="col-12">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="col-12">
          <label for="inputAge" class="form-label">Tuổi</label>
          <input type="number" class="form-control" id="inputAge">
        </div>
        <div class="col-12">
          <label for="inputCareer" class="form-label">Nghề nghiệp</label>
          <input type="text" class="form-control" id="inputCareer">
        </div>
        <div class="col-12">
          <label for="inputIncome" class="form-label">Mức thu nhập hàng tháng</label>
          <input type="number" class="form-control" id="inputIncome">
        </div>
        <div class="col-12">
          <button class="btn btn-primary">Tiếp tục khảo sát</button>
        </div>
      </form>
</body>
</html>